html, body {
    font-size: 16px;
    font-family: $font-body;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    letter-spacing: 0.01rem;
}

h1 {
    font-size: 50px;
}

code, pre {
    font-family: $font-mono;
    font-variant-ligatures: normal;
}

a {
    color: $text;
    text-decoration: none;
    position: relative;
    outline: 0;

    &.no-under {
        position: initial;

        &:after {
            display: none;
        }

        &:hover, &:focus {
            color: $grey-40;
        }

        svg {
            fill: currentColor;
        }
    }

    &:not(.no-under) {
        transition: all 0.4s $smooth;

        &:after {
            content: '';
            position: absolute;
            background-color: $text;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 0px;
            transition: all 0.4s $smooth;

            article & {
                width: 100%;
            }
        }

        &:focus, &:hover {
            &:after {
                width: 100%;
            }

            article & {
                opacity: 0.7;

                &:after {
                    transform: translateX(-50%) translateY(2px);
                }
            }
        }
    }
}

hr {
    outline: 0;
    border: 0;
    border-bottom: 1px solid $text;
    margin: 20px 0 40px;
    min-width: 100px;
    width: 20%;
}