.container, main {
    margin: 0 auto;
    padding: 0 $content-padding;
    max-width: $content-width;
}

.post-container {
    margin: 0 auto;
    padding: 0 $content-padding;
    max-width: $text-width;
}