footer {
    position: absolute;
    bottom: 0;
    @include v(height, footer-height);
    width: 100%;
    border-top: 1px solid $grey-60;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .left {
        display: flex;

        * {
            $link-padding: 10px;
            position: relative;
            margin-left: $link-padding + 5px;
            margin-right: $link-padding;

            &::before {
                content: '|';
                position: absolute;
                left: -($link-padding + 5px);
            }

            &:first-child() {
                margin-left: 0;

                &::before {
                    display: none;
                }
            }

            &:last-child() {
                margin-right: 0;
            }
        }
    }

    .right {
        a {
            margin-right: 15px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 720px) {
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .left {
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            * {
                display: inline-block;
                margin-bottom: 3px;

                &:before {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    :root {
        --footer-height: 170px;
    }
}