article.post {
    line-height: 1.55;
    font-size: 1.1rem;

    p {
        margin-bottom: 30px;
    }

    img, .chroma {
        @include breakout($text-width, $post-width);
        height: auto;
    }

    img {
        border-radius: 8px;
        box-shadow: 0 15px 30px $grey-90-a40;
    }
}

.post-meta {
    .reading-time {
        &:before {
            content: '•';
            $gap: 8px;
            margin: 0 $gap 0 $gap;
        }
    }
}

.post-header {
    margin: 0 auto 40px;
    max-width: $content-width;
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 15px 30px $grey-90-a40;
    }
}