<nav role="navigation" class="main-nav">
    <div class="nav__inner">
        <a class="nav__name" href="/">{{ .Site.Title }}</a>
        <ul class="nav__right">
            <li><a href="/about">about</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/contact">contact</a></li>
        </ul>
    </div>
</nav>

{{ if eq .Type "posts" }}
{{ if isset .Params "cover" }}
<header class="post-header" aria-hidden="true" role="presentation">
    <img src="{{ .Params.Cover }}" alt="{{ .Title }}">
</header>
{{ end }}
{{ end }}