// Sizes
$smooth: cubic-bezier(.07,.95,0,1);
$content-padding: 2rem;
$content-width: 66rem;
$post-width: $content-width;
$text-width: 42rem;

// Colours
$background: $grey-80;
$text: $grey-20;
$accent: $orange-50;
$card: darken($grey-70, 2%);

// Patterns
$pattern-shade-1: $accent;
$pattern-shade-2: $grey-70;

// Fonts
$font-body: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
$font-mono: 'Fira Code', 'Roboto Mono', 'Noto Mono', Monaco, Menlo, monospace;

// CSS Variables
$vars: (
    footer-height: 100px,
    footer-padding: 50px
);

:root {
    @each $key, $val in $vars {
        --#{$key}: #{$val};
    }
}