// Sizes
$content-width: 1100px;
$smooth: cubic-bezier(.07,.95,0,1);

// Colours
$background: $grey-80;
$text: $grey-20;
$accent: $orange-50;

// Fonts
$font-body: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
$font-mono: 'Fira Code', 'Roboto Mono', 'Noto Mono', Monaco, Menlo, monospace;

// CSS Variables
$vars: (
    footer-height: 100px,
    footer-padding: 50px
);

:root {
    @each $key, $val in $vars {
        --#{$key}: #{$val};
    }
}